.select-with-arrows span {
    font-size: 32px;
    font-weight: 500;
}

.select-with-arrows {
    padding: 0 24px 0 24px;
}

.arrow {
    top: 35%;
    right: 10%;
    cursor: pointer;
    position: absolute;
    background: none;
    outline: none;
    transform: rotate(225deg);
    border: solid #BEBEBE;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}

.arrow-down {
    top: 55%;
    transform: rotate(45deg);
}