.tag {
    padding: 4px 8px;
    color: white;
    border-radius: 16px;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}

.instagram {
    background: #E1306C;
}

.facebook {
    background: #0165E1;
}