.select span {
    font-size: 32px;
    font-weight: 500;
}

.arrow {
    width: 15px;
    height: 15px;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    background: none;
    outline: none;
    transform: rotate(-45deg);
    border-left: none;
    border-bottom: none;
}

.arrow-down {
    transform: rotate(135deg);
}