.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    color: white;
    border-radius: 16px;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
}

.only-icon {
    width: 26px;
    height: 26px;;
}

.tag span {
    padding-left: 8px;
}

.instagram {
    background: #E1306C;
}

.facebook {
    background: #0165E1;
}